/* start positioning styles */

.text-align-center{
    text-align:center;
    background-color:aqua;
 }
  
 .margin-auto > div{
    margin:auto;
    width:50%;
    background-color:beige;
    text-align:center;
 }

 /* Allows box to take up full space, ignoring padding/margin */
* {
    box-sizing: border-box;
  }
  
 /* Create two equal columns that floats next to each other */
 .my-column {
    color: silver;
    float: left;
    width: 50%;
    padding: 10px;
    min-height: 400px; /* Can be removed. Only for demonstration */
  }
   /* Clear floats after the columns */
  .my-row:after {
    content: "";
    display: table;
    clear: both;
  }
 
  /* Social Media icon start */
  .fa {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
    border-radius: 50%;
  }
   .fa:hover {
      opacity: 0.7;
  }
   .fa-facebook {
    padding: 20px 25px;
    background: #3B5998;
    color: white;
  }
   .fa-twitter {
    background: #55ACEE;
    color: white;
  }
   .fa-youtube {
    background: #bb0000;
    color: white;
  }
   .fa-instagram {
    background: #125688;
    color: white;
  }
   .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .social-container {
    display: flex;
    justify-content: space-evenly;
  }
  /* social media icons  end*/

  /* flexible image rules start here */
 
.flexible img{
    width:100%;
 }
  
 .flexible{
    display: flex;
    justify-content: space-evenly;
 }
  
 /* flexible image rules end here */
 
 
 

/* end positioning styles */

/* Global rules */

@import url('https://fonts.googleapis.com/css?family=Quicksand');

html {
    background-image: url(../images/board.png); 
    font-family: impact, sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
}

::selection { 
    color: #000; 
    background: #ff0;
}

div.fixednavbar {
    position: sticky;
        top: 0;
}

h1 {
    background: rgb(1, 1, 75);
    color: white;
    font-weight: normal;
    line-height: 2.5em;
    margin: auto;
    font-size: 3em; 
}

div.name {
    color: rgb(70, 128, 253);
    float: left;
}

div.wrapper {
    background-color: rgb(3, 3, 63, .8);
    color: silver;
    overflow: auto;
}



p {
    margin: 1em 1em;
}

p.flowchart {
    display: flex;
    margin: 2em;
    align-items: center;
    justify-content: center;
    line-height: 2.5em;
    font-size: 2em;
}

h2, h3 {
    font-weight: normal;
    margin-left: 1em;
    line-height: 1em;
}

h2.subheader {
    color: silver;
    font-size: 2em;
    text-align: center;
}

a {
    color:darkcyan;
    text-decoration: none;
}

a:hover {
    color: whitesmoke;
    background-color: rgb(179, 179, 180);
    text-decoration: none;
}

/*
iframe {
    display: block;
    margin: auto;
    width: 90%;
    height: 5700px;
    border: 2px solid darkcyan;
}
*/

footer {
    clear: both;
    text-align: center;
    padding: 1em;
}

/* Responsive rules */
/* Positioning */

@media all and (max-width:500px) {
    .my-column {
        width: 100%;
    }
 }


/* DESKTOP */
@media all and (min-width:1200px) {
    div.wrapper {
        width: 80%;
        margin: auto;
    }

    section {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 80%;
        padding-left: 1%;
    }
    
    img.desktop {
        width: 40%;
        float: left;
        margin-right: 2em;
    }
    
    img.tablet, img.phone {
        display: none;
    }
    
    p {
        margin: 1em;
    }
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    div.wrapper {
        width: 90%;
        margin: auto;
    }

    section {
        width: 100%;
        margin: auto;
    }
    
    h1 {
        width: 90%;
        padding-left: 1%;
    }
    
    img.tablet {
        width: 50%;
        float: left;
        margin-left: 1em;
    }
    
    img.desktop, img.phone {
        display: none;
    }
}

/* PHONE */
@media all and (max-width:500px) {
    div.wrapper {
        width: 100%;
    }

    section {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    img.phone {
        width: 100%;
    }
    
    img.desktop, img.tablet {
        display: none;
    }
}